

.comment {
  float: right;
}
.svg-inline--fa.fa-w-16 {
  color: #28a745;
  font-size: 20px;
  margin-right: 12px;
}
.message {
  color: #d0caca !important;
  margin-right: 2px !important;
  font-size: 14px !important;
}

li {
  cursor: pointer;
}
.list-group-item.active {
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  color: black;
  font-weight: bold;
}
.list-title {
  font-size: 16px;
  font-weight: bold;
}
.sub-list-title {
  font-size: 12px;
  color: gray;
  padding-left: 35px;
}
.custom-select {
  font-weight: normal;
  border: none;
  background: transparent;
  font-size: 14px;
  color: #766969;
  margin: 0px 7px 0px 8px;
}
:focus {
  outline: none !important;
}

.infrasrtucture:nth-child(2) {
  background: #5319e7 !important;
}

.infrasrtucture:nth-child(3) {
  background: #e7ed39;
  color: black;
}

.infrasrtucture:nth-child(4) {
  background: #cd19e7;
}

.infrasrtucture,
.needs-doc,
.chore,
.severity {
  background: #207de5;
  color: #faf5f5;
  font-size: 13px;
  padding: 2px 7px 3px 7px;
  margin-left: 5px;
  border-radius: 5px;

}
