
<div class="container">
    <ul class="list-group">
      <li class="list-group-item active ">
        <i class="fas fa-exclamation-circle"></i> {{(issues$ | async).length}} open
        <span class="comment">
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Author</option>
          </select>
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Labels</option>
          </select>
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Projects</option>
          </select>
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Milestones</option>
          </select>
  
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Assignee</option>
            <option *ngFor="let assign of (assignee$ | async)">{{assign}}</option>
          </select>
          <select class="custom-select" id="inputGroupSelect04">
            <option selected>Sort</option>
          </select>
        </span>
      </li>
      <li  *ngFor="let data of (issues$ | async)" class="list-group-item" (click)="getIssueDetails(data.number)">
        <i class="fas fa-exclamation-circle"></i>
        <span class="list-title">{{data.title}}
          <span class="infrasrtucture"  *ngFor="let label of data['labels']">{{label.name}}</span>
        </span>
        <br>
        <span class="sub-list-title">#{{data.number}} {{data.state}} {{data.updated_at| amTimeAgo}}  by {{data.user.login}}</span>
        <div class="comment">
          <i class="far fa-comment-alt message "></i>
          <span>{{data.comments}}</span>
        </div>
      </li>
    </ul>
  </div>
  
